button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
}

li {
  list-style: none;
}

.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.exercise {
  font-size: 20px;
}

.exercises {
  max-height: 100px;
  overflow-y: scroll;
  width: 100%;
  margin-left: 20px;
}

.field {
  width: 60px;
}

.filter {
  height: 25px;
  width: 100px;
  font-size: large;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex: row;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-container {
  margin: 50px;
}

.form {
  width: 200px;
  margin: auto;
}

.lift {
  padding: 0;
}

.lift-form {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.move-left {
  margin-right: 40px;
}

.paper {
  margin: 5vh auto auto;
  width: 300px;
  padding: 25px;
}

.scrollable {
  overflow-y: scroll;
  max-height: 40vh;
}

.small {
  max-height: 35vh;
}

.select {
  width: 180px;
}

@media (min-width: 750px) {
  .container {
    display: flex;
    flex: row;
  }
  .item {
    width: 50%;
  }
}

@media (min-width: 975px) {
  .left {
    padding-left: 10vw;
  }
  .right {
    padding-right: 10vw;
  }
}

@media (min-width: 1200px) {
  .left {
    padding-left: 15vw;
  }
  .right {
    padding-right: 15vw;
  }
}
