.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  overflow: scroll;
}

.container {
  margin: 5vh auto auto;
  width: 300px;
  padding: 25px;
}

.field {
  width: 60px;
}

.filter {
  height: 25px;
  width: 100px;
  font-size: large;
  padding: 5px 10px;
}

li {
  list-style: none;
  font-size: 20px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.scrollable {
  max-height: 40vh;
  overflow-y: scroll;
}

.select {
  width: 180px;
}
