.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  margin: 5vh auto auto;
  width: 300px;
  padding: 25px;
}

.exercise-form {
  display: flex;
  flex: row;
}

.field {
  width: 75px;
}

.filter {
  height: 25px;
  width: 100px;
  font-size: large;
  padding: 5px 10px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.scrollable {
  max-height: 40vh;
  overflow-y: scroll;
}

.select {
  width: 150px;
}
