.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  margin: 5vh auto auto;
  width: 250px;
  padding: 20px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
