.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.exercise {
  font-size: 1.5rem;
}

.exercise-history {
  max-height: 100px;
  overflow-y: scroll;
  width: 100%;
  margin-left: 20px;
}

.field {
  width: 60px;
}

.filter {
  height: 25px;
  width: 100px;
  font-size: large;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.flex-row {
  display: flex;
  flex: row;
  justify-content: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.form {
  width: 200px;
  margin: auto;
}

.lift-form {
  width: 80%;
  padding: 0 10%;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.move-left {
  margin-right: 40px;
}

.paper {
  margin: 5vh auto auto;
  width: 300px;
  padding: 1.5rem;
}

.quote {
  cursor: pointer;
  margin: 0 15%;
}

.scrollable {
  overflow-y: scroll;
  max-height: 45vh;
}

.select {
  width: 180px;
}

.record {
  font-size: 1rem;
  font-weight: bold;
}

.small {
  max-height: 40vh;
}
