.app {
  text-align: center;
  background-color: #213257;
  color: white;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
  position: absolute;
  padding-bottom: 60px;
}

.button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.drawer {
  background-color: #213257;
  color: white;
  height: 100%;
  max-width: 275px;
  text-align: center;
  overflow-y: scroll;
}

.exercise {
  font-size: 1.5rem;
}

.exercise-history {
  max-height: 100px;
  overflow-y: scroll;
  width: 100%;
  margin-left: 20px;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.field {
  width: 60px;
}

.filter {
  height: 25px;
  width: 50%;
  font-size: large;
  padding: 5px 10px;
  margin: 0 0 5px;
}

.flex-row {
  display: flex;
  flex: row;
  justify-content: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.form {
  width: 200px;
  margin: auto;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.mr-40 {
  margin-right: 40px;
}

.narrow {
  width: 200px;
}

.page {
  height: 100%;
  width: 100%;
}

.paper {
  margin: 1rem auto;
  max-width: 300px;
  padding: 1.5rem;
}

.quote {
  cursor: pointer;
  margin: 0 15%;
}

.scrollable {
  overflow-y: scroll;
  max-height: 45vh;
}

.select {
  width: 180px;
}

.slide-enter {
  position: fixed;
  transform: translate(100%);
}
.slide-enter-active {
  position: fixed;
  transition: transform 350ms ease-in;
  transform: translate(0);
}
.slide-exit-active {
  position: fixed;
  transition: transform 350ms ease-in;
  transform: translate(-100%);
}

.small {
  max-height: 40vh;
}

.record {
  font-size: 1rem;
  font-weight: bold;
}

.width-80 {
  width: 80%;
  padding: 0 10%;
}

@media (min-width: 1000px) {
  .container {
    padding: 0 10%;
  }
}
@media (min-width: 1250px) {
  .container {
    padding: 0 20%;
  }
}
