* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

:root {
  --blue1: #c4def5;
  --blue2: #1e90ff;
  --blue3: #00538c;

  --grey1: #a2aaaf;
  --grey2: #01090e;

  --red: #e04040;

  --white: #ffffff;

  --glow: 0 0 2px 2px rgba(57, 141, 227, 0.54);
}

a {
  background-color: inherit;
  border: none;
  color: var(--blue2);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.dark a {
  color: var(--white);
}

body {
  font-family: 'Arvo', serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: inherit;
  border: none;
  border-radius: 10px;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h5,
h6,
p {
  font-weight: 400;
}

h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 14px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

footer {
  bottom: 5px;
  left: 0;
  right: 0;
  position: fixed;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 0 8px;
}

ul li {
  list-style: none;
}



.App {
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ),
    url('/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--grey2);
  font-weight: 500;
  height: max-content;
  justify-content: center;
  min-height: 100vh;
  overflow: scroll;
  padding-bottom: 24px;
  position: absolute;
  text-align: center;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  width: 100%;
}
.App.dark {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('/background.jpg');
  color: var(--white);
}

/* Button */

.btn {
  padding: 8px 12px;
}
.btn:focus {
  box-shadow: var(--glow);
}

.btn.one:not(:disabled) {
  background-color: var(--blue2);
  color: var(--white);
}
.btn.one:hover:not(:disabled) {
  background-color: var(--blue3);
}
.btn.one:active:not(:disabled) {
  color: var(--blue1);
}

.btn.two:not(:disabled) {
  background-color: var(--white);
  border: 2px solid var(--blue2);
  color: var(--blue2);
}
.btn.two:focus:not(:disabled) {
  background-color: var(--white);
  border: 2px solid var(--blue3);
}
.btn.two:hover:not(:disabled) {
  background-color: var(--blue1);
}
.btn.two:active:not(:disabled) {
  border: 2px solid var(--blue3);
  color: var(--blue3);
}

.btn:disabled {
  background-color: var(--grey1);
  border: 2px solid var(--grey2);
  color: var(--grey2);
  cursor: not-allowed;
}

/* Fade Animation */

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

/* Input */

.input {
  border: 2px solid var(--grey1);
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  min-width: 240px;
  outline: none;
  padding: 4px 8px;
}
.input:hover {
  background-color: var(--blue1);
}
.input:focus {
  border: 2px solid var(--blue2);
  box-shadow: var(--glow);
}
.input::placeholder {
  color: var(--grey1);
}

.input-error {
  color: var(--red);
  font-size: 12px;
}

/* Link */

.link {
  color: var(--blue2);
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: var(--blue3);
}
.dark .link {
  color: var(--white);
}
.dark .link:active {
  color: var(--blue1);
}

/* Radio */
.radio {
  cursor: pointer;
  margin: 8px;
}
.radio + label {
  cursor: pointer;
}

/* Select */

.select {
  border: 2px solid var(--blue1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  min-width: 240px;
  outline: none;
  padding: 4px 8px;
  width: max-content;
}
.select:hover {
  background-color: var(--blue1);
}
.select:focus {
  border: 2px solid var(--blue2);
  box-shadow: var(--glow);
}
.select:active {
  border: 2px solid var(--blue3);
}

/* Slide Animation */

.slide-enter {
  position: fixed;
  transform: translate(100%);
}
.slide-enter-active {
  position: fixed;
  transition: transform 350ms ease-in;
  transform: translate(0);
}
.slide-exit-active {
  position: fixed;
  transition: transform 350ms ease-in;
  transform: translate(-100%);
}

/* Tooltips */

.tooltip {
  position: relative;
  text-align: center;
}
.tooltip::after {
  background-color: var(--blue2);
  border-radius: 10px;
  color: var(--white);
  content: attr(tooltip-content);
  display: none;
  left: 50%;
  max-width: 200px;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  width: max-content;
  z-index: 2;
}
.tooltip::before {
  background-color: var(--blue2);
  content: '';
  display: none;
  height: 1rem;
  left: 50%;
  position: absolute;
  width: 1rem;
  z-index: 2;
}
.tooltip:hover::after {
  display: block;
}
.tooltip:hover::before {
  display: block;
}
.tooltip.top::after {
  top: 0;
  transform: translate(-50%, calc(-100% - 10px));
}
.tooltip.top::before {
  top: 0;
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}
.tooltip.bottom::after {
  bottom: 0;
  transform: translate(-50%, calc(100% + 10px));
}
.tooltip.bottom::before {
  bottom: 0;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}
